{% extends 'layout.html.twig' %}

{% block title %}Leggio Page{% endblock %}

{% block content %}
<article>
    {# PAGE TITLE #}
    <h2>{{ page.title|markdown }}</h2>

    {# PAGE BODY #}
    {{ page.body|markdown }}
</article>
{% endblock content %}